<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fjx.mg">

    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="orientation|locale"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".food.UnpaidOrderDetailActivity" />
        <activity android:name=".food.GoodsSearchActivity" />
        <activity android:name=".food.MenuStoreListActivity" />
        <activity
            android:name=".food.ApplyForRefundActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".food.BusinessQualificationActivity" />
        <activity android:name=".food.OrderEvaluateActivity" />
        <activity android:name=".food.GoodsDetailActivity" />
        <activity android:name=".food.RedEnvelopeAndCouponActivity" />
        <activity android:name=".food.OrderPayActivity" />
        <activity android:name=".food.OrderDetailActivity" />
        <activity android:name=".food.OrderActivity" />
        <activity android:name=".food.ShoppingInfoActivity" />
        <activity android:name=".food.StoreListActivity" />
        <activity android:name=".food.TakeOutFoodSearchActivity" />
        <activity
            android:name=".food.ChooseCouponActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".food.RefundDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".food.RemarksActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".food.StoreDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.search.SearchCommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOtsgwEAwJ7SjsM1oHDVmp6oLfOS24Rj4" />

        <activity
            android:name=".scan.ScanSuccessfulActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.wallet.recharge.success.SuccessfulShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".me.safe_center.check.question.QuestionAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.identity.IdentityAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.password_question.PasswordQuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.detailx.CityMomentsTypeActivityx"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.add.pois.AoisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.city.type.CityMomentsTypeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.tag.AddTagActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.detail.MomentsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.all.AllMomentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.all.AllMomentsMessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.imuser.NewImUserDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_NewImUserDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.privacy.PrivacyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.add.NewMomentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.AskPayResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.search.PaymentSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.ask.editquestion.EditQuestionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.detail.tippay.TipPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.questionceter.QuestionCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.answer.AnswerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.detail.AskDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.ask.askpay.AskPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.ask.AskActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.blackfriend.BlackFriendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.yellowpage.comment.YellowCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.payment.PayMentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.more.search.SearchAppActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.more.MoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".pay.PayResultActivityx"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".recharge.center.RechargeCenterActivityx"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.transfer.MeTransferActivityx"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.qr.QrCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.scan.setamount.SetAmountActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.qrcode.CaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.scan.QRCodeCollectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- TODO android:screenOrientation="portrait" 添加原因是出现横竖屏切换崩溃 -->
        <!--
<activity
            android:name=".entrance.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entrance.AdActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AdStyle" />
        -->
        <activity
            android:name=".entrance.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entrance.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard">

            <intent-filter>
                <!-- <action android:name="${applicationId}.default.MAIN" /> -->
                <action android:name="com.fjx.mg.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--需要添加下面的intent-filter配置-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="fjxmg" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recharge.center.RechargeCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".pay.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".recharge.ewnbill.BillActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.collect.MyCollectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".news.detail.NewsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="mg_NewsDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


                <!-- <data -->
                <!-- android:host="com.mob.mobpush.link" -->
                <!-- android:scheme="mlink" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".login.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="mg_LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/RegisterTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.login.IdentifyLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="mg_ChatActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.bind.BindMobileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".recharge.record.BillRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".recharge.detail.RecordDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".news.comment.NewsCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.addfriend.SearchFriendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.contacts.FriendContactsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.imuser.ImUserDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_ImUserDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".friend.newfriend.NewFriendRequestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="mg_NewFriendRequestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".friend.transfer.TransferMoneyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.redpacker.RedPacketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.addfriend.AddFriendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.fjx.AddFriendActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".friend.request.RequestDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.noTitle" /> <!-- <activity android:name=".wxapi.WXEntryActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.noTitle" /> -->
        <activity
            android:name=".friend.redpacker.PacketResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.userinfo.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".me.setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.wallet.WalletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.wallet.detail.BalanceDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.certification.CertificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.address.edit.EditAddressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.address.list.AddressListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.password.login.ModifyLoginPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.record.BillRecord2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.fjx.BillRecord2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.wallet.recharge.BalanceRechargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.feedback.FeedBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.password.pay.ModifyPayPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.transfer.TransUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.transfer.MeTransferActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.yellowpage.YellowPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.yellowpage.detail.YellowPageDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_RechargeCenterActivityx" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.yellowpage.publish.YellowPagePublicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.publish.MyPublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".job.JobHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".job.publish.JobPublicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".house.HouseHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".house.publish.HousePublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".job.detail.JobDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_JobDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".house.detail.HouseDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="mg_HouseDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".house.comment.HouseCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.comment.MyCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.companycer.CompanyCerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.invite.InviteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_InviteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.search.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.rate.RateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.translate.TranslateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.notice.pay.IMNoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.fjx.IMNoticeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".friend.notice.detail.IMNoticeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.phone_contact.PhoneContactsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.nearby.NearbyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".image.ImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".pay.PayResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".web.CommonWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.search.FriendSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.level.LevelHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="mg_LevelHomeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".me.level.list.InviteListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.level.UpgradeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.notice.sys.SysNoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.fjx.SysNoticeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.certification.CertificationInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.companycer.CompanyCerInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.score.ScoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.SafeCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.lock.GestureLockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="mg_GestureLockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".me.safe_center.question.QuestionSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.auth.AuthCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.mobile_question.MobileQuestionAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.mobile_password.MobilePasswordAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.identity_password.IdentityPasswordAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.identity_mobile.IdentityMobileAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.check.identity_question.IdentityQuestionAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.bind.RebindMobileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.fingerprint.FingerprintActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.safe_center.fingerprint.FingerprintSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.yellowpage.YellowPageActivityV1"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.areacode.AreaCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.cash.CashListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moments.all.MyAllMomentsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.partner.PartnerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".me.partner.PartnerWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.NearbyCityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/NearbyCityTheme" />
        <activity
            android:name=".nearbycity.PublisherNearbyCityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.pay.NearbyCityPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.TopTypeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.NearbyCityDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.fjx.action.NearbyCityActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nearbycity.SetTopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.NearbyCitySearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.NearbyCityCommentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".nearbycity.pay.NearbyCityPaySuccessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".network.SalesNetworkSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".login.setpassword.SetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".sharetoapp.FriendsSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.fjx.FriendsSelectActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sharetoapp.AllFriendsSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".scan.ScanShopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.StartGroupChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.GroupChatListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.redpacket.GroupRedPacketActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.redpacket.GroupRedPacketDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.GroupSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.fjx_GroupSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".network.KiosqueNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.netspeed.NetSpeedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service
            android:name=".main.netspeed.NetSpeedService"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <service
            android:name=".main.netspeed.UploadNetSpeedService"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".me.myhelp.MyHelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- 支付系统 -->
        <activity
            android:name=".mgmpay.MGMPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.fjx.MGMPay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mgmpay.MGMPayResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".moments.all.AllCityCircleAndYellowPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".friend.chat.PersonalSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".main.scan.paymentcode.PaymentCodeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.scan.paymentcode.BarCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name=".image.NewImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service
            android:name=".GoogleFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" /> <!-- [END fcm_default_channel] -->
        <receiver android:name=".NotifyClickReceiver">
            <intent-filter>
                <action android:name="com.fjx.NotifyClickReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>